.hero-background {
  background-image: url("./images/main_part.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  color: #fff;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

header .content .title {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .content .title h1 {
  font-size: 16px;
}

header .content .title img {
  width: 20px;
  height: 20px;
}

header .content nav ul {
  display: flex;
  gap: 48px;
}

header .content nav ul li {
  list-style: none;
}

header .content nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: lowercase;
}