.hero-background {
  background-image: url("./images/Object.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}

header nav ul {
  display: flex;
  gap: 24px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.get-schooled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin: 80px 0;
}

.get-schooled h1 {
  font-size: 120px;
}

.get-schooled div {
  display: flex;
  gap: 32px;
  margin: 40px 0;
}

.get-schooled button {
  background-color: #c271ff;
  padding: 22px 28px;
  border: none;
  color: #fff;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 2px #525050;
  cursor: pointer;
  transition: all 0.3s ease;
}

.get-schooled button:hover {
  opacity: 0.8;
}

.pros {
  padding: 30px 0;
  color: #fff;
}

.pros h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 120px;
}

.pros h2 span {
  color: #c271ff;
}

.pros-wrapper {
  display: flex;
  justify-content: space-around;
}

.pros-wrapper .card {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pros-wrapper .card img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.pros-wrapper .card p {
  text-align: center;
  font-style: italic;
}
