header,
main:first-child {
  background-image: url("./images/Object.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
}

header nav ul {
  display: flex;
  gap: 24px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}
